.purchase-card {
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-details-button:focus,
.item-details-button:active {
  outline: none !important;
  outline-offset: none !important;
  border: none;
}
.full__price {
  text-decoration: line-through;
  color: gray;
}

